# VScode workspace files 
/.vscode/*.code-workspace
**/.DS_Store
*.code-workspace

# Build files
_markdown*/
questions.yml
*.md.tex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.luabridge.lua
*.out
*.run.xml
*.toc
*.pdf
*.log
*.lot
*.lof
